h1{
    color:rgb(222, 171, 38); 
    text-align:center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size:1,8rem;
}

.container{
    margin: 0 auto;
color: aliceblue;
text-transform: uppercase;
height: 100vh;
 width: 100%;
 text-align: center;
 margin-top: 50px;

}

video{
    
left: 00px;
    bottom: 00px;
    z-index: -2;
    max-height: 80vh;
    max-width: 80%;
    margin-top:20px;
    border-radius:5%


}