<app-navbar></app-navbar>


<h1> Benvenuti sulla Pagina Del Sistema Solare <i class="fas fa-sun"></i> </h1>

<div class="container" >
    
    <video autoplay loop mute src="../../assets/video/Pexels Videos 4645.mp4"></video>
    

    
    </div>
    




