<app-navbar></app-navbar>

<h1>CHI SIAMO <i class="far fa-smile-beam"></i></h1>

<p> Siamo 7 Junior Front End Developer che hanno condiviso insieme l'esperienza formativa presso Epicode Schools. <br>
Ci piace la creatività e la cooperazione e nutriamo una grande passione per il codice. </p>

<div class="container">

<h2> <img src="../../assets/img/mattfoto-bpfull.jpg" alt="mattfoto">  <span>  Matteo Ricciardi <i class="fas fa-laptop"></i> --> </span>  
     <button type="button" class="btn btn-primary"> <a href="https://www.linkedin.com/in/matteo-ricciardi-53a09a4a/">LinkedIn </a> <i class="fab fa-linkedin"></i></button> <hr>

    <img src="../../assets/img/taka-bpfull.jpg" alt="takafoto">  <span>  Takafumi Hamaya. <i class="fas fa-laptop"></i> --> </span>  
    <button type="button" class="btn btn-primary"> <a href="https://www.linkedin.com/in/takafumi-hamaya-067499bb/">LinkedIn </a> <i class="fab fa-linkedin"></i></button> <hr>

    <img src="../../assets/img/vale.jpg" alt="valefoto">  <span> Valerio Corpolongo <i class="fas fa-laptop"></i> --> </span>  
    <button type="button" class="btn btn-primary"> <a href="https://www.linkedin.com/in/valerio-corpolongo-82348a21b/">LinkedIn </a> <i class="fab fa-linkedin"></i></button> <hr>

    <img src="../../assets/img/ernesto.jpg" alt="ernestofoto">  <span> Ernesto Menichella <i class="fas fa-laptop"></i> --> </span>  
    <button type="button" class="btn btn-primary"> <a href="https://www.linkedin.com/in/ernestomenichella/">LinkedIn </a> <i class="fab fa-linkedin"></i></button> <hr>

    <img src="../../assets/img/ale.png" alt="alefoto">  <span> Alessandro Di Pietro <i class="fas fa-laptop"></i> --> </span>  
    <button type="button" class="btn btn-primary"> <a href="#">LinkedIn </a> <i class="fab fa-linkedin"></i></button> <hr>

    <img src="../../assets/img/luca.jpg"alt="lucafoto">  <span>  Luca D'amato  <i class="fas fa-laptop"></i> --> </span>  
    <button type="button" class="btn btn-primary"> <a href="#">LinkedIn </a> <i class="fab fa-linkedin"></i></button> <hr>

    <img src="../../assets/img/dani.png" alt="danifoto">  <span> Daniele Micoli <i class="fas fa-laptop"></i> --></span>  
    <button type="button" class="btn btn-primary"> <a href="https://www.linkedin.com/in/daniele-micoli-7751b9102/">LinkedIn </a> <i class="fab fa-linkedin"></i></button> <hr>

</h2>



</div>

