h1{
    color:rgb(222, 171, 38); 
    text-align:center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size:1.5rem;
}

.container img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

p {
    color:rgb(222, 171, 38); 
    text-align:center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size:1.2rem;
}

h2{
color:whitesmoke;
text-align:left;
}

a {
color: whitesmoke;
text-decoration: none;

}

span {
font-size:1.1rem
}