li a{
    color: rgb(222, 171, 38);
    font-weight: bold;
    }
    button{
        margin-top: 2rem;
    }
    #main{
        max-width: 30%;
        min-height: 300px;
        border: solid 3px whitesmoke;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 2rem;
        margin-top: 4rem;
        padding-bottom: 2rem;
    }
    label{
        color: rgb(222, 171, 38);
        font-weight: bold;
    }