<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink='Sistemasolare/index' > <img src="../../assets/img/logo_small.png" width="90" height="45"alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink='/home'  >Home <i class="fas fa-home"></i> | </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink='/Sistemasolare'> Il Sistema Solare <i class="fas fa-sun"></i> | </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink='/ciao' > Chi Siamo <i class="fas fa-user-tie"></i> | </a>
          </li>
        </ul>
<ul class="navbar-nav me-auto mb-2 mb-lg-0" id="member">
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink='/newuser' id="blu" >  Iscriviti <i class="fas fa-user-plus"></i> | </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink='/login' id="bianco" >  Log In <i class="fas fa-users"></i> </a>
  </li>
</ul>
      </div>
    </div>
  </nav>
