<div class="container" >
<h1> HAI APPENA <span> DISTRUTTO </span>  {{corpoDistrutto.id}} <i class="fas fa-skull"></i> </h1>
<video autoplay loop mute src="../../assets/video/pexels-rostislav-uzunov-6151238.mp4"></video>

<hr>
<p id="button"><button type="button" class="btn btn-info btn-lg" routerLink='/Sistemasolare' routerLinkActive="router-link-active" > Torna alla Lista Corpi Celesti <i class="fas fa-globe"></i>  </button>  </p>

</div>




