.container{
    margin: 0 auto;
color: aliceblue;
text-transform: uppercase;
height: 100vh;
 width: 100%;
 text-align: center;
 margin-top: 50px;

}

video{
    
left: 00px;
    bottom: 00px;
    z-index: -2;
    max-height: 80vh;
    max-width: 80%;
    margin-top:20px;
    border-radius:5%


}

span {
    color: rgb(195,42,34);
    color: -moz-linear-gradient(90deg, rgba(195,42,34,1) 0%, rgba(253,240,45,1) 100%);
  color: -webkit-linear-gradient(90deg, rgba(195,42,34,1) 0%, rgba(253,240,45,1) 100%);
  color: linear-gradient(90deg, rgba(195,42,34,1) 0%, rgba(253,240,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c32a22",endColorstr="#fdf02d",GradientType=1);
    
}