#container{
margin-top:25px ;
color: aliceblue;
display:flex;
flex-direction: row;
flex-wrap: nowrap;

}

#container div {
flex-grow:50%;
margin-top: 30px;
}

#button{
margin-top:50px;
}

video{
    padding-top: 30px;
    left: 00px;
        bottom: 00px;
        z-index: -2;
        max-height: 50vh;
        max-width: 50%;
        margin-top:20px;
        border-radius:5%
    
    
    }
    