
<div id="container">
<div>
<h1> Dettagli Corpo Celeste <i class="fas fa-sun"></i> </h1>

<hr>

<h2> {{dettagliCorpi.name}} <i class="fas fa-globe"></i>  </h2>

<p> SemimajorAxis: {{dettagliCorpi.semimajorAxis}} <br>Perihelion: {{dettagliCorpi.perihelion}} <br> MassValue: {{dettagliCorpi.mass.massValue}} -- MassExponent: {{dettagliCorpi.mass.massExponent}} <br> Vol: {{dettagliCorpi.vol.volValue}}</p>

<p> Pianeta di Riferimento : {{dettagliCorpi.aroundPlanet.planet}}</p>
</div>

<div>
    <video autoplay loop mute src="../../assets/video/Pexels Videos 4645.mp4"></video>


</div>

</div>


<div>
<p id="button"><button type="button" class="btn btn-info btn-lg" routerLink='/Sistemasolare' routerLinkActive="router-link-active" > Torna alla Lista Corpi Celesti <i class="fas fa-globe"></i>  </button>  </p>


</div>
