#other_table {
    width:90%;
    margin:5%;
    }
    
    h1{
        color: rgb(222, 171, 38);
        font-weight: bold;
        text-align: center;
        font-size:1.5rem;
        margin-top: 15px;
    }