<app-navbaruser></app-navbaruser>
<h1>User List</h1>
<div class="container">
    <table id="other_table" class="table table-info table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">City</th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dati of users">
        <th scope="row">{{dati.id}}</th>
        <td>{{dati.name}}</td>
        <td>{{dati.username}}</td>
        <td>{{dati.email}}</td>
        <td>{{dati.address.city}}</td>
        <td><button type="button" class="btn btn-danger btn-sm" (click)="remove(dati)"><i class="fas fa-user-slash"></i></button>
    <button type="button" class="btn btn-primary btn-sm mx-3" (click)="update(dati)"><i class="fas fa-user-cog"></i></button>
</td>
      </tr>
    </tbody>
  </table>
</div>