<div id="main" class="container" >
<form class="row g-3" >
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Insert Name" name="name" [(ngModel)]="user.name">
    </div>
    <div class="col-md-6">
      <label for="inputusername" class="form-label">Username</label>
      <input name="username" type="text" class="form-control" id="inputusername" placeholder="Insert Username" [(ngModel)]="user.username">
    </div>
    <div class="col-md-6">
      <label for="inputemail" class="form-label">Email</label>
      <input name="email" type="text" class="form-control" id="inputemail" placeholder="@email.com" [(ngModel)]="user.email">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input name="city" type="text" class="form-control" id="inputCity" placeholder="New York, Milano, Bolo" [(ngModel)]="user.address.city">
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" (click)="confirmupdate()">Modifica</button>
    </div>
  </form>
</div>