<app-navbar></app-navbar>
  <h1>   THE SOLAR SYSTEM  <i class="fas fa-sun"></i>  </h1>
<table id="table" class="table table-info table-hover" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Inclination</th>
        <th scope="col">Density</th>
        <th scope="col">Gravity</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of universal.bodies">
        <th scope="row">{{item.id}}</th>
        <td>{{item.englishName}}</td>
        <td>{{item.inclination}}</td>
        <td>{{item.density}}</td>
        <td>{{item.gravity}}</td>
        <td> <button type="button" class="btn btn-primary btn-sm mx-3" (click)="infobody(item)"> <i class="fas fa-info-circle"></i> </button>  
          <button type="button" class="btn btn-danger btn-sm" (click)="removebody(item)"><i class="fas fa-bomb"></i>  </button>     </td>
         
      </tr>
     
    </tbody>
  </table>
